<h1>welcome to Bookers !!</h1>
<p>you can share and exchange your opinions , inpressions , and emotions about various books!</p>




<div class="container">  
    <div class="row">   
        <div class="col-lg-12">
            <p>
                <%= link_to "Log in", new_user_session_path,class: "btn btn-block btn-primary" %>
            </p>
            <p>        
                <%= link_to "Sign up", new_user_registration_path,class: "btn btn-block btn-success"%>
            </p>
        </div>
    </div>
</div> 